footer#footer-area
  .container
    .row
      .col-md-12
        .footer-social-link
          ul.footer-icons
            - for(var icon in icons)
                li
                    a(href=`${icons[icon]}` target="_blank")
                        - var iconName = `fa fa-${icon}`
                        i(class=iconName)
           
        hr
        .copyright-area.text-center
          - var year = new Date().getFullYear();
          p © #{year} #{title}. ALL RIGHTS RESERVED.

script(type='text/javascript', src='/pub/js/main.js')
include gtag

</body>
</html>
