section#about-area.section-padding
  .container
    .row
      .col-md-6
        .about-thum-area.wow.fadeInLeft
          .about-img
            img(src=`${about.proPicSrc}`, alt='Resume Template')
          .resume-btn
            a(href=`${about.cv}` target="_blank")
              i.fa.fa-cloud-download
              |  Download Resume
      .col-md-6
        .about-content-area.wow.fadeInRight
          .section-title
            h2 About Me
          p
            | #{about.bio}
          ul.profile-menu
            li
              span Name: 
              |  #{title}
            li
              span Date of birth: 
              |  #{about.birthDate}
            li
              span Nationality: 
              |  #{about.nationality}
            li
              span Address: 
              |  #{about.address}
            li
              span Phone: 
              |  #{about.phone}
            li
              span E-Mail: 
              |  #{about.email}
